---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos01.jpg',
    srcThum: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos01MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos02.jpg',
    srcThum: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos02MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos03.jpg',
    srcThum: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos03MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos04.jpg',
    srcThum: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos04MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos05.jpg',
    srcThum: '../img/paginas/slider/vueltacampoloshielos/vueltaaloshielos05MINI.jpg',
  },
]

---

<LayoutPaginas title="About Us" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Patagonia Mountain' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Solo - Chalten' 
          description='Between the valleys of Cerro Torre and Rio Tunel emerges this solitary mountain, 2121msnm, of singular stature and imposing views. From here we can see the Southern Patagonian Ice Field, the Viedma Lake, and the mountain ranges of both Cerro Torre and Fitz Roy. To conquer it we must ascend the 50° slopes of its top glacier. A great challenge for all those who want to have their first experiences on a Patagonian summit.'
          difficulty=' Medium'
          duration=' 3 days'
          pax=' 1 or 2 people'
          time=' October to March'
          hrefitinerary='../itineraries/mountaineering/CerroSolo.pdf'

          link1=' Mountaineering'
          href1='/#mountaineering'
          link2=' Cerro Solo'
          href2=''

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  .carousel-indicators button[data-bs-target] {
    width: max-content;
  } 
  .carousel-indicators{
    margin-bottom: -18px;
  }
</style>


