---

---

<section id="creston-experience" class="creston">
  <div class="container">
    <div class="p-1">
      <div id="creston-shade-section">
        <h1 class="display-5 lh-1">Creston <br>Experience</h1>
        <ul class="menu-section ps-0 fs-4">
					<li class="list-group-item"><a href="/creston-experience/valle-creston-refuge" title="Valle del Crestón Refuge"><i class="fa-solid fa-chevron-right"></i>Valle del Crestón Refuge</a></li>
					<li class="list-group-item"><a href="/creston-experience/two-glaciers-viewpoint-trek" title="Two Glaciers Viewpoint Trek"><i class="fa-solid fa-chevron-right"></i>Two Glaciers Viewpoint Trek</a></li>
					<li class="list-group-item"><a href="/creston-experience/creston-glacier-trek" title="Crestón Glacier Trek"><i class="fa-solid fa-chevron-right"></i>Crestón Glacier Trek</a></li>
					<li class="list-group-item"><a href="/creston-experience/creston-glacier-crossing" title="Crestón Glacier Crossing"><i class="fa-solid fa-chevron-right"></i>Crestón Glacier Crossing</a></li>
					<li class="list-group-item"><a href="/creston-experience/creston-mountain-ascent" title="Crestón Glacier Crossing"><i class="fa-solid fa-chevron-right"></i>Crestón Mountain Ascent</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

.creston {
	height: 100vh;
  height: 100dvh;
  scroll-snap-align: center;
  /* min-height: 350px; */
	background-image: url("../img/index/secciones/creston.jpg");
 	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

#creston-shade-section {
	position: relative;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 40px 40px 40px;
  width: fit-content;
  margin-top: 99px; 
	text-align: left;
  /* clip-path: polygon(0px 0px, 409px 0px, 409px 29px, 376px 105px, 408px 174px, 390px 320px, 410px 372px, 409px 431px, 0px 431px); */
	/* clip-path: polygon(0px 0px, 394px 0px, 426px 62px, 396px 171px, 426px 236px, 426px 401px, 0px 401px); */
	clip-path: polygon(0px 0px, 406px 0px, 370px 74px, 404px 199px, 383px 272px, 417px 386px, 0px 385px);
}

.menu-section a {
	font-family: MuseoSans300, sans-serif;
  /* font-size: 26px; */
  color: rgba(255,255,255,.9);
  text-decoration: none;
}
.menu-section a:hover {
	/*background-color: rgb(0,0,0,.6);*/
	color: rgba(255,255,255);
  text-decoration: underline;
	text-underline-offset: 4px;
}

/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
 
  #creston-shade-section {
	  padding: 30px 20px 30px 20px;
	}
}
</style>