---
import { SEO } from "astro-seo";
import '../styles/paginas.css';
import FooterPaginas from '../components/layouts/FooterPaginas.astro';
import NavbarPaginas from '../components/layouts/NavbarPaginas.astro'

interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | " + "Patagonia Ascent"
  : "Patagonia Ascent";

  const makeDescription = description
  ? description : "Best experience in Patagonia: Mountaineering, Climbing, Skiing, Courses and more.";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/img/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{makeTitle}</title>
    <meta name="description" content={makeDescription} />


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		<SEO
			title="Patagonia Ascent"
			description="Best experience in Patagonia: Mountaineering, Climbing, Skiing, Courses and more."
			openGraph={{
				basic: {
					title: "A Very Descriptive Title",
					type: "A type.",
					image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
				}
			}}
			twitter={{
				creator: "@jonasmerlins1"
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "/favicon.ico" }],
				// extending the default meta tags
				meta: [
					{
						name: "twitter:image",
						content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
					},
					{ name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
					{ name: "twitter:description", content: "Agent" },
				],
			}}
		/>
	</head>
	<body>

    <NavbarPaginas />
		  <slot />
    <FooterPaginas />


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

	</body>
</html>

<style is:global>
	img {
    content-visibility: auto;
	}
  </style>